<!DOCTYPE html>
<html>
<head>
<link href='https://cdn.knightlab.com/libs/soundcite/latest/css/player.css' rel='stylesheet' type='text/css'><script type='text/javascript' src='https://cdn.knightlab.com/libs/soundcite/latest/js/soundcite.min.js'></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medill Winter 2017</title>

    <meta property="og:type" content="article" />
    <meta property="og:title" content="Sexual Assault Exposed, Students left in flux" />
    <meta property="og:description" content="Students and survivors express concern over recent allegations made against SAE" />
    <meta property="og:image" content="" />
    <meta name="author" content="Catherine Kim, Gabby Grossman, Maxine Whitely" />
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<body>
    <a id="top">
  <header class="masthead">
        <h1>Medill</h1>
  </header>
</a>
    <main>
        <article>

        <header class="article-meta">
            <video autoplay muted id="myVideo">
                <source src="sae.mov" type="video/mp4">
            </video>
            <div class="overlay-desc" id="displaynone">
                <div class="headline">
                    <h1 class="hed">Sexual Assault Exposed, <br>Students left in flux</h1>
                    <div class="line-before"></div>
                    <h2 class="byline">By GABBY GROSSMAN, CATHERINE KIM, MAXINE WHITELY</h2>
                    <h3>March 8, 2017</h3>
                </div>
            </div>
            <p class="photo-byline byline">Video by <b>Maxine Whitely</b> / Medill</p>
        </header>

            </script>

            <!--"https://dailynorthwestern.com/staff/?writer=Catherine%20Kim"-->
            
            <div class="blackboard">

                <p class="lead">Weinberg junior Sharon Wang remembers the day she was sexually assaulted. She had gone out for the night during her trip to Australia and met her perpetrator at a bar, who had caught her eye at the time. She sent her friends back to spend more time with him, not knowing what would come next. </p>

                <p> “I called the Uber, I took off my clothes, I locked the door,” she said. “I consented to all those things, but I didn’t consent to intercourse because I knew I was too drunk, and I just didn’t feel comfortable with a complete stranger that I had met that night.” </p><p>

                Yet the lack of consent did not stop her perpetrator. Nothing stopped him from fundamentally hurting her and stripping away her own rights to her body, she said. </p>

                <div class="stats">

                <h4 style="text-align: center; margin-top: 0; margin-bottom: 0;"><b class="bolder">1</b> in <b class="bolder">4</b><br> college-aged (18-23) female students nationwide report having experienced some kind of unwanted sexual contact.</h4>

                <div class="container">
                    <div class='female-icon'></div>
                    <div class='female-icon'></div>
                    <div class='female-icon'></div>
                    <div class='female-icon'></div>
                </div>

                <h4 class="inner" style="text-align: center;"">At a school of approximately <br><b class="bolder">8300</b> undergraduates, <b class="bolder">2075</b> women <br>on this campus have experienced unwanted sexual contact.*</h4>

                <br>
                <br>
                <div class="line-beforeshort"></div>
                <br>

                <h4 class="inner" style="text-align: center;"> of the <b class="bolder">65</b> reports alleging that Northwestern students engaged in sexual misconduct between Sept. 1, 2015 and Aug. 31, 2016:</h4>

                <div class="datablock">
                <div class="container">
                <h4><b class="bolder">32%</b> <br> of complainants didn't go forward with formal or informal resolutions </h4>
                <h4 class="inner"><b class="bolder">40%</b><br> of complainants went forward with either formal or informal resolutions </h4>
                <h4 class="inner"><b class="bolder">8%</b> <br>of cases didn't have enough information to move forward</h4>
                <h4 class="inner"><b class="bolder">20%</b><br> of complainants didn't respond to university outreach efforts</h4>
                </div>
                </div>

                <figcaption style="text-align: center;">*These numbers are approximations based off of national data that assume binary gender and even gender distribution. Take these numbers as approximations to estimate the prevalance of sexual misconduct at Northwestern.</figcaption>
                </div>
                <figcaption>Infographic by <b>Maxine Whitely</b> / Medill</figcaption>


                <p>Now, as a sexual assault survivor, Wang said she stands for those who have had their “most basic amount of privacy intruded.” Along with 14 other students, she helped organize a petition, which was sent out to the University on March 1, demanding for action regarding sexual assault allegations against Sigma Alpha Epsilon fraternity.</p>

                <p>The petition follows a University email that was sent out to the community on Feb. 6 to inform students of a drugging and sexual assault report made a week ago. The report indicated that four female students were given possible date rape drugs at Sigma Alpha Epsilon on Jan. 21, two of whom suspect sexual assault. </p>

            <div class="breathingspace">
                <div class="expandable-container">
                    <img src ="securityemail.jpg">
                </div>
                <a href="javascript:;" class="show-more">Show more</a>
                <a href="javascript:;" class="show-less">Show less</a>
            </div>

            <script type="text/javascript">
                $(".show-less").hide();

                $(".show-more").on("click", function() {

                    var $link = $(this);
                    var $content = $(".expandable-container");
                   
                    $content.addClass("long"); 
                    $(".show-less").show();
                    $(".show-more").hide();
                    
                    return false;
                });

                $(".show-less").on("click", function() {

                    var $link = $(this);
                    var $content = $(".expandable-container");
                    $content.removeClass("long"); 
                    $(".show-less").hide();
                    $(".show-more").show();
                    
                    return false;
                });
            </script>
            <figcaption id="menu">The allegations were originally communicated to the community as a security alert.</figcaption>

                <p>Communication senior and Outreach Chair of SHAPE Amanda Odasz said the petition is not only a response to the recent allegations made towards Sigma Alpha Epsilon but also a call for broader institutional change. </p><p>

                “When I came to this campus as a freshman, the first thing that I heard about Sigma Alpha Epsilon was that the letters stood for Sexual Assault Expected,” she said.”That’s not a new reputation for them.” </p><p>

                Odasz said the University should hold the entire fraternity responsible for the recent allegations. The petition asks for more oversight of the fraternity during its suspension, and the swift removal of the chapter from campus if the perpetrators are found guilty. </p>

                    <aside class="pullquote pullquote-left"><p>“The first thing that I heard about Sigma Alpha Epsilon was that the letters stood for Sexual Assault Expected. ”That’s not a new reputation for them.” - Amanda Odasz </p></aside>

                <div class="imageodasz">
                    <img src="amanda1.jpg" width="60%">
                <figcaption>Photo by <b>Catherine Kim</b> / Medill <br> Odasz updates a SHAPE bulletin diplay so that it can offer a multitude of resources and options for students.</figcaption>
                </div>

                <p>Odasz will be meeting with Dean of Students Todd Adams and Vice President for Student Affairs Patricia Telles-Irvin next week to discuss the petition, while President Morton Schapiro has yet to respond.</p>


                <p>

                Yet there are more actions needed to be made beyond the proposal of a petition, Wang said. Students, especially those within fraternities, must acknowledge there is a lot of toxic masculinity in Greek life that threaten the safety of others and recognize the need for change. </p>

                <p>

                “I was really just disappointed in the way that my friends in fraternities responded [to the allegations],” she said. “They were like, ‘Not all frats,’ ‘This is a [Sigma Alpha Epsilon] problem, not a Greek life problem,’ and just getting so defensive.”</p>

    
                <div class="finalstory">
                    <audio controls>
                        <source src="finalaudio.mp3" type="audio/mpeg">
                    </audio>
                </div>
                <figcaption style="text-align: center;">Audio by <b> Gabby Grossman</b></figcaption>

                <p>Weinberg freshman and a member of panhellenic chapter Delta Delta Delta Ruby Phillips said it is necessary that all members of Greek life take responsibility for the toxic environment that is present in fraternities. She said this is a problem surrounding the culture of sexism in Greek life that is not being acknowledged enough by society and the University, and it won’t be fixed until both men and women in the system recognize the problem.</p>

                <link href='https://cdn.knightlab.com/libs/soundcite/latest/css/player.css' rel='stylesheet' type='text/css'><script type='text/javascript' src='https://cdn.knightlab.com/libs/soundcite/latest/js/soundcite.min.js'></script>

                <div class="rubyphill">
                    <img src="ruby.jpg" width="100%">
                </div>

                <figcaption>Image by <b> Gabby Grossman</b> / Medill <br> Phillips discusses the <span class="soundcite" data-id="311327869" data-start="0" data-end="7550" data-plays="1">inherent faults in Greek life</span> and the culture that surrounds it. </figcaption>

                <p>
                Avery Powell, Communication freshman and president of Phi Delta Theta’s pledge class, said the first stop to acknowledging this problem of sexism is by understanding all fraternities end up creating an unhealthy and dangerous power dynamic when they serve alcohol to female guests in a “dark basement.” </p><p>


                <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
<div class="history-tl-container sidebar-lefter">
<h1 style="text-align: right;">A timeline of events on campus</h1>
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
       Jan. 21<br>
      </div>
      <div class="item-title">SAE Event</div>
      <div class="item-detail">The date of the event where, according to the anonymous allegation, up to four female students were drugged and two were sexually assaulted at the Sigma Alpha Epsilon fraternity house.</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Feb. 2
      </div>
      <div class="item-title">Official allegation filed</div>
      <div class="item-detail">The allegation is anonymously made.</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Feb. 3
      </div>
      <div class="item-title">A second chapter</div>
      <div class="item-detail">Another report is filed about sexual assault against a separate, unnamed fraternity on campus. </div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Feb. 6
      </div>
      <div class="item-title">University-wide email</div>
      <div class="item-detail">An email is sent to the entire Northwestern community warning students about the two recently reported instances of sexual assault. </div>
    </li>
<li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Feb. 10
      </div>
      <div class="item-title">March down Sheridan</div>
      <div class="item-detail">Hundreds of students walk from the SAE chapter house in the fraternity quad to the chapter's national headquarters on south campus. </div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Feb. 10
      </div>
      <div class="item-title">Ceasing activity</div>
      <div class="item-detail">SAE's national division tells the organizatio to stop all social activities. </div>
    </li>
    
  </ul>
  </div>

                <p>“I think there is a current status quo of a really unhealthy and frankly toxic power dynamic between fraternities and sororities… <span class="soundcite" data-id="311327863" data-start="19571" data-end="26177" data-plays="1">women, sorority women, feel unsafe and are unsafe</span> in a lot of Greek life situations,” Powell said. </p>

                <p>

                In the midst of the sexual assault allegations against Sigma Alpha Epsilon, Weinberg freshman and survivor Adam Davies said it is important for the campus to acknowledge the struggles survivors go through in the aftermath of their assaults. </p><p>

                Davies was assaulted by a coworker who served as a male role model shortly after Davies had come out as transgender. When he had first started hanging out with his perpetrator, he had thought, “Wow, this is another man that is willing to spend time with me.” To be assaulted by someone he had trusted was “life-shattering,” he said. </p><p>

                Yet Davies said he continues to share his story because he hopes it creates awareness of the survivor experience and urge action against sexual violence. Although Davies said he relives the moment in brutal detail every time he retells his story, he continues to share in the hope that creating awareness of the survivor experience will make his pain “worth it.” </p><p>

                “I like to be open about my experiences because there are two options: I can either hide them away or I can use them to help other people,” he said. “And if I use them to help other people, I am defeating the very purpose of the person who did things to me.” </p>


                </div>
            </article>
        </main>
        

    </main>
</body>
</html>